<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<video autoplay ></video>
<button id='startcapture'>Start Capture</button>
<button id='stopcapture'>Stop Capture</button>
<button id='snap'>Snap</button>
<button id='upload'>Upload</button>
<input name="username" type="text" id="username" class="searchField"/>
<canvas></canvas>

<script>

const video = document.querySelector('video');
const canvas = document.querySelector('canvas');
const constraints = {
	video: {
        width: {min: 150, ideal: 400, max: 600},
        height: {min: 150, ideal: 400, max: 600}
    }
};
var localMediaStream = null;
var lastTime = -1;
var isrecording = false;
var picturestack = [];
var uploadURL = "";

document.querySelector('#startcapture').onclick = function() {
	navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);
}

document.querySelector('#stopcapture').onclick = function() {
	video.pause();
	isrecording = false;
	//localMediaStream.stop();
}

document.querySelector('#snap').onclick = function() {
	isrecording = true;
	getvideoframe();
};

document.querySelector('#upload').onclick = function() {
	sendImage();
};

function handleSuccess(stream) {
	video.srcObject = stream;
}

function handleError(error) {
	console.error('Reeeejected!', error);
}

function getvideoframe() {
	if(!isrecording) return;
    //var time = video.currentTime;
    //if (time !== lastTime) {
		canvas.width = video.videoWidth;
		canvas.height = video.videoHeight;
		canvas.getContext('2d').drawImage(video, 0, 0);
		var jpeg_string = canvas.toDataURL('image/jpeg').replace("data:image/jpeg;base64,","");
		//var blob = canvas.toBlob(
		console.log(jpeg_string);
		picturestack.push(jpeg_string);
        //lastTime = time;

		//console.log(canvas.toDataURL('image/jpeg'));
		// Other browsers will fall back to image/png
		//img.src = canvas.toDataURL('image/webp');
	//}

    //wait approximately 16ms and run again
    setTimeout(getvideoframe,200);
    //requestAnimationFrame(getvideoframe);
}

function sendImage() {

	var temporaryid = Math.round(+new Date()/1000);

    //Set options as form data
    var formdata = { id:document.getElementById("username").value,data:picturestack };
    //console.log(temporaryid);
    //console.log(picturestack);
    //formdata.push("id", temporaryid);
    //formdata.push("data", picturestack);
	//console.log(JSON.stringify(formdata));

	//console.log(formdata);

	$.ajax({
		type: "POST",
		url: "http://localhost:5000/enrol",
		data: JSON.stringify(formdata),
		contentType: false,
		processData: false,
		success: function (msg) {
			var obj = msg;
			//console.log(obj.statusCode);
			if (obj.statusCode == 200) {
				alert("DONE");
			} else {
				alert(obj.msg);
			}
		}
	})

	/*
    let xhr = new XMLHttpRequest();
    xhr.open('POST', "http://localhost:5000/enrol", true);
    xhr.onload = function () {
        if (this.status === 200) {
            let objects = JSON.parse(this.response);

            //draw the boxes
            //drawBoxes(objects);

            //Save and send the next image
            //imageCtx.drawImage(v, 0, 0, v.videoWidth, v.videoHeight, 0, 0, uploadWidth, uploadWidth * (v.videoHeight / v.videoWidth));
            //imageCanvas.toBlob(postFile, 'image/jpeg');
        }
        else {
            console.error(xhr);
        }
    };
    xhr.send(formdata);
	*/
}
</script>
</html>